.header {
  &__container {
    @include flexbox($alignment: center);
    flex-wrap: wrap;
  }
  &__logo {
    @include text(
      $color: rgba(126, 177, 1, 1),
      $size: 26px,
      $weight: 700,
      $height: 1.38,
      $spacing: 0.78px
    );
  }
  &__adress {
    @include flexbox($space: 10px, $alignment: center);
    transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__logobox {
    position: relative;
    margin-right: 93px;
  }
  &__photo {
    @media screen and (max-width: 476px) {
      positon: absolute;
      width: 50px;
      height: 50px;
      top: -10px;
      left: 150px;
    }
    position: absolute;
    top: -7px;
    left: -60px;
    width: 50px;
    height: 50px;
  }
  &__adress:hover span {
    color: $navigation-color;
  }
  &__adress:hover svg {
    fill: $navigation-color;
  }
  &__phone {
    width: 10px;
    height: 16px;
  }
  &__studio {
    color: rgb(10, 1, 177);
  }

  &__letter {
    width: 16px;
    height: 12px;
    fill: rgba(117, 117, 117, 1);
  }
  &__phone {
    fill: rgba(117, 117, 117, 1);
  }
  &__list {
    @include flexbox($space: 60px, $alignment: center);
  }
  &__link {
    @include text(
      $color: rgb(10, 1, 177),
      $size: 14px,
      $weight: 500,
      $height: 1.14,
      $spacing: 0.28px
    );
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link::after {
    content: "";
    @include overlay($height: 4px);
    display: block;
    border-radius: 2px;
    background-color: rgba(126, 177, 1, 1);
    margin-top: 29px;
  }
  &__link:hover::after {
    opacity: 1;
  }
  &__link:hover {
    color: $navigation-color;
  }
  &__contacts {
    @media screen and (max-width:800px){
      margin-top: 10px;
    }
    @include flexbox($space: 30px);
    justify-content: center;
    @media screen and (min-width: 1200px) {
      margin-left: 318px;
    }
  }
  &__adress {
    @include text(
      $color: rgb(10, 1, 177),
      $size: 14px,
      $weight: 500,
      $height: 1.14,
      $spacing: 0.28px
    );
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__adress:hover {
    color: $navigation-color;
  }
}
